[defaults]
inventory = inventory/hosts.yml
remote_user = ansible
private_key_file = /home/dev/.ssh/monitoring_ed25519
host_key_checking = False
retry_files_enabled = False
stdout_callback = yaml
interpreter_python = auto_silent
roles_path = roles

[privilege_escalation]
become = True
become_method = sudo
become_user = root

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=60
pipelining = True
